<div class="bx--tile-container">
	<ibm-clickable-tile (click)="openAddModal($event)">
		<svg xmlns="http://www.w3.org/2000/svg" focusable="false" preserveAspectRatio="xMidYMid meet"
			style="will-change: transform;" aria-hidden="true" width="56" height="56" viewBox="0 0 32 32">
			<path
				d="M32 14L28 14 28 10 26 10 26 14 22 14 22 16 26 16 26 20 28 20 28 16 32 16 32 14zM12 4A5 5 0 1 1 7 9a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7A7 7 0 0 0 12 2zM22 30H20V25a5 5 0 0 0-5-5H9a5 5 0 0 0-5 5v5H2V25a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z">
			</path>
			<title>Add Patient</title>
		</svg>
		<div class="bx--card-title">Add Patient</div>
	</ibm-clickable-tile>
	<ibm-clickable-tile (click)="openManageModal($event)">
		<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="56" height="56"
			viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;">
			<path
				d="M28 8H30V16H28zM23 5H25V16H23zM18 10H20V16H18zM16 30H14V24a3.0033 3.0033 0 0 0-3-3H7a3.0033 3.0033 0 0 0-3 3v6H2V24a5.0059 5.0059 0 0 1 5-5h4a5.0059 5.0059 0 0 1 5 5zM9 9a3 3 0 1 1-3 3A3 3 0 0 1 9 9M9 7a5 5 0 1 0 5 5A5 5 0 0 0 9 7z">
			</path>
			<title>Manage Patient</title>
		</svg>
		<div class="bx--card-title">Manage Patient</div>
	</ibm-clickable-tile>
</div>
