.bx--tile-container {
	display: flex;
	flex-flow: row wrap;

	ibm-clickable-tile {
		a:hover, a:visited, a:link, a:active {
			text-decoration: none;
		}

		a {
			flex-direction: column;
			display: flex;
			place-content: center;
			align-items: center;
			margin: 16px;
			height: 210px;
			width: 210px;

			.bx--card-title {
				padding: 16px 32px 0;
				font-weight: 500;
				font-size: 16px;
				text-align: center;
				color: #000000;
			}
		}
	}
}
