<ibm-table-container>
	<ibm-table-header>
		<div style="display: flex;">
			<svg
				ibmIconArrowLeft20
				*ngIf="title === 'New Surgeon'"
				class="bx--back-arrow"
				(click)="back()"></svg>
			<h4 ibmTableHeaderTitle>{{title}}</h4>
		</div>
	</ibm-table-header>
	<ibm-table-toolbar>
		<ibm-table-toolbar-content>
			<ibm-table-toolbar-search
				#search
				*ngIf="title === 'Surgeons' || isEditing"
				[expandable]="true"
				(clear)="clear()"
				(valueChange)="filterItem(search.value)">
			</ibm-table-toolbar-search>
			<button *ngIf="title === 'Surgeons' || isEditing" ibmButton="primary" size="sm" (click)="addNewSurgeon()" [disabled]="isEditing">
				Add new surgeon
				<ibm-icon-add20 class="bx--btn__icon"></ibm-icon-add20>
			</button>
			<button *ngIf="title === 'New Surgeon'" ibmButton="primary" size="sm" [disabled]="disabledAdd" (click)="add()">
				Add
				<ibm-icon-add20 class="bx--btn__icon"></ibm-icon-add20>
			</button>
		</ibm-table-toolbar-content>
	</ibm-table-toolbar>

	<ibm-table
		*ngIf="title === 'Surgeons' || isEditing"
		[model]="model"
		[size]="md"
		[showSelectionColumn]="false"
		[enableSingleSelect]="false"
		[striped]="false"
		(sort)="simpleSort($event)">
	</ibm-table>
	<ibm-pagination
		*ngIf="title === 'Surgeons' || isEditing"
		[model]="model"
		(selectPage)="selectPage($event)">
	</ibm-pagination>

	<ibm-table
		*ngIf="title === 'New Surgeon'"
		[model]="fakeModel"
		[size]="md"
		[showSelectionColumn]="false">
	</ibm-table>
	<form *ngIf="title === 'New Surgeon'" class="bx--form" [formGroup]="angForm" novalidate>
		<ibm-label class="bx--input" [invalid]="invalidName" invalidText='A valid value is required'>Name<input name="name" formControlName="name" ibmText placeholder="Name"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidEmail" invalidText='A valid value is required'>Email<input ibmText name="email" formControlName="email" placeholder="Email"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidPassword" invalidText='Must have at least 6 character'>Password<input ibmText name="password" formControlName="password" placeholder="Password"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidConfirmPasswordAdd" invalidText='Password does no match'>Confirm Password<input ibmText name="confirmPassword" formControlName="confirmPassword" placeholder="Password"></ibm-label>
		<div class="bx--input bx--form-item">
			<label class="bx--label">Patients</label>
			<div class="bx--text-input__field-wrapper combobox">
				<ibm-combo-box
					placeholder="select patients"
					[invalid]="invalidPatient"
					invalidText='A valid value is required'
					style="width: 100%;"
					[items]="patients"
					type="multi"
					(selected)="newSurgeonSelected($event)">
					<ibm-dropdown-list></ibm-dropdown-list>
				</ibm-combo-box>
			</div>
		</div>
	</form>
</ibm-table-container>

<ng-template #deleteTemplate let-data="data">
	<svg ibmIconDelete20 class="bx--delete" (click)="openModal($event)"></svg>
</ng-template>

<ng-template #passwordTemplate let-data="data">
	<span class="password">{{data}}</span>
</ng-template>

<ng-template #dropdownTemplate let-data="data">
	<ibm-combo-box
		placeholder="select patients"
		style="width: 200px;"
		[items]="data.patients"
		type="multi"
		(selected)="selected($event, data)">
		<ibm-dropdown-list></ibm-dropdown-list>
	</ibm-combo-box>
</ng-template>

<ng-template #expandedTemplate let-data="data">
	{{ assignDefaults(data) }}
	<form class="bx--form" [formGroup]="angForm" novalidate>
		<ibm-label class="bx--input" [invalid]="invalidName" invalidText='A valid value is required'>Name<input ibmText name="name" formControlName="name" placeholder="Name"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidEmail" invalidText='A valid value is required'>Email<input ibmText name="email" formControlName="email" placeholder="Email"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidPassword" invalidText='Must have at least 6 character'>Password<input ibmText type="password" name="password" formControlName="password" placeholder="Password"></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidConfirmPasswordEdit" invalidText='Password does no match'>Confirm Password<input ibmText type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Password"></ibm-label>
		<button [disabled]="angForm.invalid" ibmButton="primary" size="sm" (click)="save(data, $event)">
			Save
			<ibm-icon-save20 class="bx--btn__icon bx--save"></ibm-icon-save20>
		</button>
		</form>
</ng-template>
