<ibm-tile class="bx--login">
	<form style="width: 100%;" [formGroup]="angForm" novalidate>
		<span class="bx--title">
			Welcome
		</span>
		<span class="bx--brain-icon">
			<img src="../../../favicon.ico" height="60" width="60">
		</span>

		<ibm-label class="bx--input" [invalid]="invalidEmail" invalidText='A valid email is required'>Email<input formControlName="email" ibmText></ibm-label>
		<ibm-label class="bx--input" [invalid]="invalidPassword" invalidText='A valid password is required'>Password<input formControlName="password" ibmText></ibm-label>

		<button
			type="submit"
			[disabled]="angForm.pristine || angForm.invalid"
			ibmButton="primary"
			class="bx--button">
			LOGIN
		</button>

		<div class="bx--footer">
			<span class="bx--text1">
				Don’t have an account?
			</span>
			<a class="bx--text2" href="#">
				Submit a request
			</a>
		</div>
	</form>
</ibm-tile>
