<ibm-tile class="bx--login">
	<form style="width: 100%;">
		<span class="bx--title">
			Welcome
		</span>
		<span class="bx--brain-icon">
			<img src="../../../favicon.ico" height="60" width="60">
		</span>

		<ibm-label class="bx--input">Email<input ibmText></ibm-label>
		<ibm-label class="bx--input">Password<input ibmText></ibm-label>

		<button ibmButton="primary" class="bx--button">LOGIN</button>

		<div class="bx--footer">
			<span class="bx--text1">
				Don’t have an account?
			</span>
			<a class="bx--text2" href="#">
				Submit a request
			</a>
		</div>
	</form>
</ibm-tile>
